<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Call </title>
    <link rel="icon" href="icon.png">
    <link rel="stylesheet" href="style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>

</head>

<script>
    const ROOM_ID = "<%= roomId %>"
    console.log(ROOM_ID);
</script>

<body>
    <div id="video-grid">

    </div>

</body>
<script src="script.js"></script>

</html>